extends layout
block content
    h1 Edytuj klienta: #{client.name}
    form(method='POST', action='/clients/edit/'+client._id)
      .form-group
        label Imię i nazwisko:
        input.form-control.centerInput(name='name', type='text', value=client.name)
      .form-group
        label Adres:
        input.form-control.centerInput(name='address', type='text', value=client.address)
      .form-group
        label Kod pocztowy:
        input.form-control.centerInput(name='post_code', type='text', value=client.post_code)
      .form-group
        label Numer telefonu:
        input.form-control.centerInput(name='phone_number', type='number', value=client.phone_number)
      .form-group
        label E-mail (nie wymagane):
        input.form-control.centerInput(name='email', type='text', value=client.email)
      .form-group
        label Stały rabat (nie wymagane):
        input.form-control.centerInput(name='const_discount', type='number', step='0.01', value=client.const_discount)
      input.btn.btn.primary(type='submit', value='Zatwierdź')